body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.d-flex.input-group > span {
  display: inline-block;
  width: 50%;
}

div.d-flex.input-group > div.input-group-prepend {
  align-self: flex-start;
}

ul.react-autocomplete-input {
  display: inline-block;
}

ul.react-autocomplete-input > li {
}

ul.react-autocomplete-input > li.active {
}
